/****** General ***********/
html{
  background-color: white;
  }
  
  :root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width: 1440px;
    margin: auto;
  }
  
  .main-container {
    width: 100%;
    max-height: 1889.02;
    padding: 0 50px;
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  /****** header ***********/
  header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 79px;
    position: relative;
  }
  
  header img{
  width: 61.09px;
  height: 19px;
  top: 30px;
  left: 50px;
  padding: 30px;
  margin-left: -25px;
  }
  
  header nav ul li{
    list-style: none;
    display: inline-block;
    height: 19px;
    top: 16px;
  }
  
  header nav{
    width: 294px;
    height: 35px;
    left: 1096px;
    padding: 0px, 25px, 0px, 25px;
    gap: 68px;
  }
  
  header #button_hebergement{
    width: 113px;
    height: 2px;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
    padding-top: 12px;
    margin-left: -40px;
  }
  
  header #button_activites{
    width: 63px;
    left: 181px;
    font-family: 'Raleway';
    color: #000000;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
    margin-left: 40px;
  } 
  
  /****** headlines ***********/
  .infos{
    width: 1340px;
    height: 281px;
    gap: 35px;
    margin-top: 38px;
  }
  
  .infos .loupe{
    display: none;
  }

  .titleHolliday h1{
  width: 1340px;
  height: 26px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 22px;
  line-height: 25.83px;
  color: black;
  margin-top: 0px;
  }

  .titleHolliday h2{
    width: 1340px;
    height: 19px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: -10px;
  }  
  
  .search{
    display: flex;
    margin-top:34px;
    margin-bottom:40px;
  }

  .search .fa-solid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    font-size: 19px;
    color: black;
  }
  
  .search input{
    width: 227px;
    height: 49px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #F2F2F2;
  }

  .search button{
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    color: white;
    height: 49px;
    padding: 15px, 16px, 15px, 16px;
    border: 1px;
    gap: 10px;
    font-size: 18px;
    border: 1px solid black;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
  }

  input:focus::placeholder {
    color: transparent;
  }
  
  .search button:hover{
    cursor: pointer;
  }

  .categories{
    display: flex;
    flex-direction: row;
  }

  .categories .isolationCatego{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
  }
  
  .categories .cats-round{
    display: flex;
    flex-direction: row;
  }
  
  .categories .round{
  display: flex;
  justify-content: center;
  align-items: center;
  width:  173px;
  height:  50px;
  padding: 4px, 19px, 4px, 19px;
  border-radius: 25px;
  border: 2px solid #D9D9D9;
  gap: 10px;
  margin: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 19.96px;
  }
  
  .round:hover{
  background-color: #DEEBFF;
  }
  
  .categories .fa-solid{
    width: 22px;
    height: 16.26px;
    top: 2.87px;
  }
  
  .infos_logement{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .infos_logement h3 .fa-solid {
    width: 29px;
    height: 21px;
    border: 1px solid  #D9D9D9;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
    margin-right: 15px;
  }
  
  .infos_logement h3{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
  }
  
  
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  .card-title {
    font-size: 16px;
  }
  
  .euro {
    font-weight: 700;
  }
  
  .neutral-star {
    color: var(--main-bg-color)
  }
  
  /****** Hebergements ***********/
  .hebergements {
    width: 65%;
    height: 660px;
  }

  .hebergements-plus{
    margin-top: 35px;
  }

  .section-title{
    margin-bottom: 30px;
  }

  .card-Main {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    max-width: 240px;
    height: 207.25px;
    margin-left: -5px;
  }
  
  .card-Main img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
  }
  
  .cardMain-title {
    font-size: 16px;
  }

  .lineOne{
    display: flex;
  }

  #first_card{
    margin-right: 13px;
  }

  #second_card{
    margin-right: 13px;
    margin-left: 13px;
  }

  #third_card{
    margin-left: 13px;
    margin-right: 13px;
  }

  .lineTwo{
    display: flex;
    margin-top: 38px;
  }

  #fourth_card{
    margin-right: 13px;
  }

  #fifth_card{
    margin-right: 13px;
    margin-left: 13px;
  }

  #sixth_card{
    margin-left: 13px;
    margin-right: 13px;
  }
  
  /****** Populaires ***********/
  .populaires {
    width: 32%;
  }

  .card img {
    object-fit: cover;
  }

  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .populaires-title i{
    margin-top: -20px;
  }
  
  .populaires-cards{
    margin-top: -30px;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }
  
  /****** Activites ***********/
  .activites-marseille{
    margin-top: 35px;
  }

  .activites-marseille .section-title{
    margin-top: 30px;
    margin-left:30px;
    font-size: 22px;
    font-weight: 700;
  }

  .activites{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 25px;
  }
  
  .card-Activites{
  width: 20vw;
  height: 439px;
  border-radius: 20px, 20px, 0px, 0px;
  overflow: hidden;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 6px -6px #D9D9D9;   
  }
  
  .card-Activites img{
    height: 380px;
    width: 297px;
  }
  
  .activites h3{
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
  }
  
  /****** Footer ***********/
  footer{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction:row;
    align-items: start;
    margin-top: 50px;
  }
  
  .foot{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 446.67px;
    height: 163px;
    padding: 20px;
    gap: 15px;
  
  }

@media (max-width:1440px){
  .card-Main{
    max-width: 15.5vw;
  }

  .card-Activites{
    .card-Activites{
      max-width: 20vw;
      }
  }
}



