.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  max-width: 1340px;
  height: 180px;
}

.footer ul {
  background-color: var(--main-bg-color);
  padding-left: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer ul li {
  margin-top: 10px;
}

.footer ul li a {
  cursor: pointer;
}

.footer ul li h4 {
  font-size: 18px;
  margin: 10px 0 0;
}



/*-------------------------------------------------------------------
  -----------------------FOOTER MOBILE PHONE-----------------------------                                   
  ---------------------------------------------------------------------*/

@media (max-width: 767.98px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 461px;
    max-width: 100%;
    margin: auto;
    background-color: #F2F2F2;
  }

  .footer-infos {
    margin-left: 10px;
  }


}