  /*-------------------------------------------------------------------
  ----------------------- LOGGING POPULAR SECTION DESKTOP -------------                                 
  ---------------------------------------------------------------------*/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
  }

  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }


  .euro {
    font-weight: 700;
  }

  .fa-solid {
    color: var(--main-color);
    font-size: 14.25px;
  }

  .neutral-star {
    color: var(--main-bg-color);
  }

  /************************************************
  *************** LODGING ************************/
  .hebergements {
    width: 65%;
    height: 620px;
  }

  .hebergements h2 {
    margin-bottom: 30px;
  }

  .hebergements-cards {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 30px;
    width: 100%;
  }


  .card-hebergement figure {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    max-width: 16vw;
    height: 207px;
    margin: 0px;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  }

  .card-hebergement figure figcaption {
    padding: 3px;
    margin: 3px;
  }

  .card-main-txt .card-main-subtitle {
    margin: 10px 0px;
    font-size: 14px;
  }

  .card-hebergement figure img {
    max-width: 100%;
    height: 124px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
  }

  .card-main-title {
    font-size: 16px;
    margin: 0;
  }

  .hebergements-plus {
    font-size: 18px;
    margin: 20px 0;
    border: none;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
  }

  /************************************************
  *************** POPULARS ************************/
  .populaires {
    width: 32%;
  }

  .card-populaires figure {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  }

  .populaires h2 {
    margin-bottom: 25px;
  }

  .card-populaires figure img {
    object-fit: cover;
  }

  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-subtitle {
    font-size: 14px;
  }

  .populaires-title i {
    margin-top: -20px;
  }

  .populaires-cards .card-populaires figure {
    display: flex;
    margin-top: 33px;
    width: 100%;
    margin: 0px;
  }

  .populaires-cards {
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .populaires-cards .card-content .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .populaires-cards .card-subtitle {
    margin: 0;
  }

  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }


  @media screen and (max-width:1024px) {
    .hebergements-and-populaires {
      flex-direction: column;
      margin-top: 60px;
    }

    .hebergements {
      width: 100%;
    }


    .hebergements-cards figure {
      max-width: 25vw;
      margin: 0px;
    }

    .hebergements-cards figure img {
      max-width: 100%;
    }

    .populaires {
      width: 100%;
      margin-top: 50px;
      height: 260px;
    }

    .populaires-cards {
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 15px;
    }

    .card-populaires {
      max-width: 25vw;
      margin: 0px;
    }


  }




  @media screen and (max-width:768px) {

    .hebergements-and-populaires {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 0px;
      border-radius: 0px;
    }

    .hebergements-and-populaires .populaires {
      border-radius: 0px;
      box-sizing: border-box;
      padding: 30px 20px;
    }

    .populaires {
      margin-top: 35px;
      border-radius: 0px;
      height: 579px;
      border-radius: 0px;
      padding: 20px;
    }

    .populaires .populaires-title {
      margin-top: -10px;
    }

    .populaires-cards {
      flex-direction: column;
      margin-top: -16px;
    }

    .populaires-cards .card-populaires {
      height: 146px;
      max-width: 100%;
      margin-top: 0px;
    }

    .card-populaires img {
      height: 145px;
    }



    .hebergements-and-populaires .hebergements {
      height: 1535.5px;
      background-color: white;
      border-radius: 0px;
      gap: 15px;
      padding: 30px 20px;
    }

    .hebergements-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      margin-top: -10px;
    }

    .hebergements-cards figure {
      max-width: 100%;
      height: 207.25px;
    }

    .hebergements-cards figure img {
      object-fit: cover;
    }

    .card-main-title,
    .card-main-subtitle,
    .card-rating {
      margin: 8px 10px;
    }

    .card-main-subtitle {
      font-size: 14px;
    }

    .hebergements-cards figcaption {
      height: 64px;
      gap: 8px;
    }

    .hebergements-cards figcaption {
      height: 64px;
      gap: 8px;
    }

    .hebergements .hebergements-plus {
      margin-top: 25px;
    }

    .card-main-txt .card-main-subtitle {
      margin: 5px 10px;
      font-size: 14px;
    }

  }